.barCharts {
  width: 220px;
  // margin: auto;
  margin-top: 25px;
  .bar-chart {
    min-height: 200px;
  }
}
.donut-chart {
  width: 200px;
  // margin: auto;
  margin-top: 25px;
}
.line-chart {
  height: 300px;
  width: 450px;
}
